In [9]:
from get2 import *

# In[2]: get 3 days of data from unit 1
interval = get_seconds('3d')
unit_1 = Unit(70, 'Unit_1')
df = unit_1.get_values(70, interval)
df.head()

,prpp,pv,Freq,p1dcv,bptt,ls,ss,pcvolt,soc,sas,...,ntllf,p1dbc,pcacpow,prsnps,charge_level,gateway_id,org_id,project_id,timestamp,uptime
0,1.0,-1.0,50.0,57.370003,26.939999,1.0,0.0,231.429993,36.219997,2.147484e+09,...,0.0,64.110001,0.0,252.970001,33.401272,70,3,70,2022-09-17 09:29:00,946590
1,1.0,-1.0,50.0,57.303001,26.939999,1.0,0.0,231.419998,36.230000,2.147484e+09,...,0.0,63.279999,0.0,255.470001,33.414013,70,3,70,2022-09-17 09:29:31,946621
2,1.0,-1.0,50.0,57.425003,26.949999,1.0,0.0,231.429993,36.649998,2.147484e+09,...,0.0,64.639999,0.0,251.639999,33.949043,70,3,70,2022-09-17 09:30:03,946653
3,1.0,-1.0,50.0,57.328003,26.959999,1.0,0.0,231.399994,36.649998,2.147484e+09,...,0.0,63.079998,0.0,250.799988,33.949043,70,3,70,2022-09-17 09:30:34,946684
4,1.0,-1.0,50.0,57.046001,26.939999,1.0,0.0,231.269989,36.630001,2.147484e+09,...,0.0,59.959999,0.0,257.279999,33.923569,70,3,70,2022-09-17 09:31:00,946710

In [27]:
timestamp = df['timestamp']
df.drop(labels=['timestamp'], axis=1, inplace=True)
df.insert(0, 'timestamp', timestamp)
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5459 entries, 0 to 5458
Data columns (total 56 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     5459 non-null   datetime64[ns]
 1   prpp          5459 non-null   float64
 2   pv            5459 non-null   float64
 3   Freq          5459 non-null   float64
 4   p1dcv         5459 non-null   float64
 5   bptt          5459 non-null   float64
 6   ls            5459 non-null   float64
 7   ss            5459 non-null   float64
 8   pcvolt        5459 non-null   float64
 9   soc           5459 non-null   float64
 10  sas           5459 non-null   float64
 11  hum           5459 non-null   float64
 12  pspd1         5459 non-null   float64
 13  prnp          5459 non-null   float64
 14  pcrpow        5459 non-null   float64
 15  p1fst         5459 non-null   float64
 16  p1invpow      5459 non-null   float64
 17  bsoc          5459 non-null   float64
 18  prcr          5459 non-null   float64
 19  PVBP          5459 non-null   float64
 20  prvolt        5459 non-null   float64
 21  pclpow        5459 non-null   float64
 22  p1acost       5459 non-null   float64
 23  prspps        5459 non-null   float64
 24  bocv          5459 non-null   float64
 25  hs            5459 non-null   float64
 26  prcurr        5459 non-null   float64
 27  nthlf         5459 non-null   float64
 28  asset_id      5459 non-null   int64
 29  p1fsp         5459 non-null   float64
 30  InvTemp       5459 non-null   float64
 31  bntt          5459 non-null   float64
 32  nv            5459 non-null   float64
 33  PVSP          5459 non-null   float64
 34  bcmst         5459 non-null   float64
 35  bpow          5459 non-null   float64
 36  bcurr         5459 non-null   float64
 37  pthlf         5459 non-null   float64
 38  bvolt         5459 non-null   float64
 39  pccurr        5459 non-null   float64
 40  sm            5459 non-null   int64
 41  ptllf         5459 non-null   float64
 42  temp          5459 non-null   float64
 43  pspd          5459 non-null   float64
 44  PVStat        5459 non-null   float64
 45  prdr          5459 non-null   float64
 46  bv            5459 non-null   float64
 47  ntllf         5459 non-null   float64
 48  p1dbc         5459 non-null   float64
 49  pcacpow       5459 non-null   float64
 50  prsnps        5459 non-null   float64
 51  charge_level  5459 non-null   float64
 52  gateway_id    5459 non-null   object
 53  org_id        5459 non-null   object
 54  project_id    5459 non-null   object
 55  uptime        5459 non-null   int64
dtypes: datetime64[ns](1), float64(49), int64(3), object(3)
memory usage: 2.3+ MB

###  timestamp index:
if using dt.weekday

0 : Monday

1 : Tuesday

2 : Wednesday

3 : Thursday

4 : Friday

5 : Saturday

6 : Sunday

In [23]:
df.groupby([df['timestamp'].dt.date]).sum()
# df.head()

,prpp,pv,Freq,p1dcv,bptt,ls,ss,pcvolt,soc,sas,...,pspd,PVStat,prdr,bv,ntllf,p1dbc,pcacpow,prsnps,charge_level,uptime
timestamp,,,,,,,,,,,,,,,,,,,,,
2022-09-17,1609.0,-1738.0,86900.0,93629.790493,46112.529100,1738.0,0.0,400143.101593,107239.767639,3.732327e+12,...,0.0,1738.0,1738.0,0.0,0.0,19017.779639,0.0,404796.031229,114471.041340,1690554866
2022-09-18,2127.0,-2875.0,143750.0,151977.719139,75825.608475,2875.0,0.0,661368.202911,188924.405224,6.174015e+12,...,0.0,2875.0,2875.0,0.0,0.0,12327.389800,0.0,535326.478296,204043.828533,2995882390
2022-09-19,206.0,-846.0,42300.0,43425.464130,22465.309664,846.0,0.0,194512.743027,55042.738705,1.816771e+12,...,0.0,846.0,846.0,0.0,0.0,-2346.689969,0.0,58131.938856,59341.068520,928920272

In [44]:
bcu = df[['timestamp', 'bpow']]
bcu_sum_daily = bcu.groupby([bcu['timestamp'].dt.date]).sum()
bcu_mean_daily = bcu.groupby([bcu['timestamp'].dt.date]).mean()
bcu_sum_hourly = bcu.groupby([bcu['timestamp'].dt.date, bcu['timestamp'].dt.hour]).sum()
bcu_mean_hourly = bcu.groupby([bcu['timestamp'].dt.date, bcu['timestamp'].dt.hour]).mean()

In [48]:
bcu_sum_daily

                   bpow
timestamp
2022-09-17 -1214.389975
2022-09-18  -829.789975
2022-09-19    99.509995

In [41]:
bcu_mean_daily

                bpow
timestamp
2022-09-17 -0.698728
2022-09-18 -0.288623
2022-09-19  0.117624

In [50]:
bcu_sum_hourly

                            bpow
timestamp  timestamp
2022-09-17 9         -204.679997
           10        -385.009993
           11        -347.639997
           12        -300.349999
           13        -184.189997
           14        -168.529997
           15        -167.269997
           16        -137.859997
           17         -19.320000
           18          51.370000
           19         135.629999
           20         135.589999
           21         135.629999
           22         135.619999
           23         106.619999
2022-09-18 0           14.799999
           1           15.039999
           2           15.029999
           3           14.999999
           4           15.029999
           5           15.339999
           6            8.930000
           7          -83.159998
           8         -160.539997
           9         -168.329996
           10        -166.979997
           11        -168.139996
           12        -164.959997
           13        -168.089997
           14        -168.719997
           15        -168.169997
           16        -163.569997
           17         -49.909999
           18          52.110000
           19         135.629999
           20         135.639999
           21         135.589999
           22         135.629999
           23         107.009999
2022-09-19 0           14.929999
           1           14.959999
           2           14.929999
           3           14.799999
           4           14.999999
           5           14.969999
           6           14.150000
           7           -4.230000